body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('img/35d18e0b58ec157bb65b1ba959aff337.jpeg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    color: rgb(255, 253, 253);
    height: 250px;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
}

.logo span {
    font-weight: lighter;
}

.imagem-prato p {
    background: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.noticias {
    text-align: center;
    padding: 40px 20px;
}

.noticias h2 {
    font-size: 32px;
    margin-bottom: 30px;
    position: relative;
}

.noticias h2::before,
.noticias h2::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 4px;
    background: #333;
    margin: 0 15px;
    vertical-align: middle;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
   
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #333;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.card a:hover {
    color: #1b5e20;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  

  