body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('img/35d18e0b58ec157bb65b1ba959aff337.jpeg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    color: rgb(255, 253, 253);
    height: 250px;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
}

.logo span {
    font-weight: lighter;
}

.imagem-prato p {
    background: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.noticias {
    text-align: center;
    padding: 40px 20px;
}

.noticias h2 {
    font-size: 32px;
    margin-bottom: 30px;
    position: relative;
}

.noticias h2::before,
.noticias h2::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #333;
    margin: 0 15px;
    vertical-align: middle;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #333;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.card a:hover {
    color: #1b5e20;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkbox-menu{
    position: relative;
    opacity: 0;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
label span{
    position:absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25 ease-in-out;
}
label span:nth-child(1){
    top: 0;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + label span:nth-child(1){
transform: rotate(-45deg);
top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
top: 8px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: rgb(0, 0, 0);
    display: none;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 999;
  }
  #checkbox-menu:checked ~ .menu {
    display: block;
  }
  label[for="checkbox-menu"] {
    position: absolute;
    top: 15px;      /* menor valor sobe mais */
    left: 20px;     /* ajuste horizontal */
    cursor: pointer;
    z-index: 1000;  /* garante que fique acima da imagem */
  }
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }